
body{
background-color: rgb(218, 238, 255);

}
nav{
display: flex;
flex-direction: row;
gap: 5rem;
}
nav .logo{
    margin-right: 50px;
}
nav li{
    display: inline;
    float: left;
    display: block;
    padding: 10px 70px 0px 0px;
}
nav .services{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav .push{
    justify-content: flex-end;
    align-items: center;
    margin-left:7rem ;
}
nav li:hover{
    transform: scale(1.1);
    color: red;
    cursor: pointer;
}
nav img {
width: 40px;
height: 40px;
border-right: none;
border-radius: 50px;
}
main{
    display: flex;
    flex-direction:row ;
    justify-content:space-evenly;
}
.account-details{
    border-radius: 20px;
    background-color: #e1eaf2;
    height: fit-content;
    width: 40vw;
    margin-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}
.progress-bar ol{
    list-style-type:none;
    
}
.progress-bar li{
    display: block;
    float: left;
    display: inline;
    padding: 0 30px 25px 15px;
}
h1{
    font-size: larger;
font-family:'Times New Roman', Times, serif;
}
.main-content p{
    font-size: small;
    font-family:sans-serif;
}
.main-content input{
    border-radius: 15px;
    background-color: rgb(200, 227, 250);
    width: 300px;
    height: 25px;
}
.register-login{
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 4rem;

}
.register-login a{
color: black;
margin-right: 30px;
}
.register-login button{
    border-color: blue;
    border-radius:5px ;
    width: 80px;
    height: 30px;
    background-color: blue;
    color: white;
}
.cancel-shipping{
    margin-left: 50px;
    margin-top: 15px;
}
.cancel-shipping a{
    color: black;
    margin-right: 10px; 
}
.cancel-shipping button{
    border-color: blue;
    border-radius:5px ;
    width: 150px;
    height: 30px;
    background-color: blue;
    color: white;
}
.order-summary{
    border-radius: 20px;
    background-color: #e1eaf2;
    height: fit-content;
    width: 35vw;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}
.order-summary h1{
align-self: center;
padding-top: 20px;
}
.order-summary img{
    width: 200px;
    height: 100px;
align-self: center;
box-shadow: 0 0 10px rgba(0,0,0,1);

}
.description-quantity{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    gap:3rem;
}
.item-info{
padding-left: 50px;
}
.quantity input{
    width: 30px;
}
.receipt{
    padding: 0 30px 0 30px;
}
.receipt p{
font-style: italic;
display: flex;
flex-direction: row;
}
.receipt input{
    border-radius: 5px;
    background-color: rgb(225, 234, 241);
    width: 300px;
    height: 30px;
}
.receipt button{
    border-color: blue;
    border-radius:5px ;
    width: 60px;
    height: 30px;
    background-color: white;
    color: blue;
}
.totals{
    padding: 0 30px 0 30px;
}
.totals p{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 10x;
    font-weight: bold;
}